!!!
%html
  %head
    %title= yield(:title) + " | DAYCARE APP"
    = stylesheet_link_tag 'application', media: 'all'
    
  %body
    .container
      .row
        .span12
          #Flash
            - [:notice, :error, :success].each do |key|
              - unless flash[key].blank?
                %div{:class => "alert alert-#{key}"}
                  %p
                    %strong #{key}:
                    = flash[key] 
      .row
        .span12
          #Main
            = yield
      
    = javascript_include_tag "application"